.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: linear-gradient(to right, #ffccd5, #ffd699, #fff799, #ccf5d1, #99d9ff, #c099e3, #e6ccff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Top-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
  font-size: 15px;
}

.App-start {
  font-size: 30px;
  background-color: #61dafb; /* Change background color to match App-link */
  border: none;
  color: white; /* Change text color to white for better contrast */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

/* Style for when the button is hovered */
.App-start:hover {
  background-color: #4fa3d1; /* Darker shade on hover */
}

.App-start > a:visited {
  color:white;
}

.Announcer {
  background-color: #61dafb; /* Change background color to match App-link */
  color: white; /* Change text color to white for better contrast */
  padding: 10px;
}

/* Style for when the Announcer is hovered */
/*
.Announcer:hover {
  background-color: #4fa3d1; 
}
*/