.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: linear-gradient(to right, #ffccd5, #ffd699, #fff799, #ccf5d1, #99d9ff, #c099e3, #e6ccff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Top-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
  font-size: 15px;
}

.App-start {
  font-size: 30px;
  background-color: white;
  border: none;
  color: grey;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.App-start > * {
  color: black;
}

.Announcer {
  background-color: white;
  color: grey;
  padding: 10px;
}
